#my-page {
  height: 100%;
}

.contact {
  height: 100%;
}

.country {
  position: relative;
  width: 100%;
  height: 150px;
  /* width: calc(100%/6); */
  display: inline-block;
  vertical-align: top;
  float: left;
  /* height: 100%; */
  border-top: 10px solid #fff;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.country:hover {
  cursor: pointer;
}

.country:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.7s ease;
}

.country:hover:after {
  background-color: transparent;
}

.country
  .caption {
    position: absolute;
    bottom: 0;
    padding: 10px 25px;
    color: #fff;
    /* color: #000; */
    /* background: #fff; */
    width: 100%;
    z-index: 5;
    font-family: 'open-sans-bold';
  }

.elsalvador {
  background-image: url('../img/contacts/el-salvador.jpg');
}

.elsalvador:after {
  background-color: rgba(95, 71, 152, 0.8);
}

.guatemala {
  background-image: url('../img/contacts/guatemala.jpg');
}

.guatemala:after {
  background-color: rgba(71, 77, 156, 0.8);
}

.honduras {
  background-image: url('../img/contacts/honduras.jpg');
}

.honduras:after {
  background-color: rgba(180, 35, 77, 0.8);
}

.nicaragua {
  background-image: url('../img/contacts/nicaragua.jpg');
}

.nicaragua:after {
  background-color: rgba(107, 180, 123, 0.8);
}

.costarica {
  background-image: url('../img/contacts/costarica.jpg');
}

.costarica:after {
  background-color: rgba(76, 118, 170, 0.8);
}

.panama {
  background-image: url('../img/contacts/panama.jpg');
}

.panama:after {
  background-color: rgba(95, 71, 152, 0.8);
}

.modal-country {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #cecece;
  background-position: center;
  z-index: 55;
  display: none;
}

.modal-country--content {
  /* width: 75%; */
  position: fixed;
  top: 65%;
  /* top: 60%; */
  left: 0;
  right: 0;
  margin: auto;
  transform:translate(0%, -50%);
  padding: 10px 10px 6rem 10px;
  color: #fff;
  font-family: 'open-sans-bold';
}

.modal-country--content h5 {
  font-size: 1rem
}

.modal-country--content h5 > img {
  display: none
}

.modal-country__title {
  text-align: center;
  margin-bottom: 60px;
}

.modal-country-close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.5rem;
  font-weight: normal;
}

.modal-country-close:hover {
  cursor: pointer;
}

.address {
  /* width: 50%; */
  position: relative;
  margin: auto;
}

/* .address .telephone {
  padding-left: 18px;
  margin-top: 15px;
} */

.modal-social-medida {
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-align: center;
}

.modal-social-medida a{
  display: block;
  margin-bottom: 15px;
}

.address .row {
  margin-bottom: 40px;
}

.purple {
  background: rgba(95, 71, 152, 0.8);
}

.blue {
  background-color: rgba(71, 77, 156, 0.8);
}

.pink {
  background-color: rgba(180, 35, 77, 0.8);
}

.green {
  background-color: rgba(107, 180, 123, 0.8);
}

.orange {
   background-color: rgba(76, 118, 170, 0.8);
}

.blue-sky {
  background-color: rgba(95, 71, 152, 0.8);
}

.modal-elsalvador {
  background-image: url(../img/contacts/bg-elsalvador.jpg);
}

.modal-nicaragua {
  background-image: url(../img/contacts/bg-nicaragua.jpg);
}

.modal-guatemala {
  background-image: url(../img/contacts/bg-guatemala.jpg);
}

.modal-costarica {
  background-image: url(../img/contacts/bg-costarica.jpg);
}

.modal-honduras {
  background-image: url(../img/contacts/bg-honduras.jpg);
}

.modal-panama {
  background-image: url(../img/contacts/bg-panama.jpg);
}

@media (min-width: 768px) {
  .address {
    width: 85%;
    position: relative;
    margin: auto;
  }

  .modal-country--content h5 {
    font-size: 1.25rem;
  }

  .modal-country--content h5 > img {
    display: inline-block;
  }

  .address .telephone {
    padding-left: 18px;
    margin-top: 15px;
  }

  .modal-country--content {
    width: 75%;
    top: 60%;
  }
}


@media (min-width: 960px) {
  .address {
    width: 70%;
  }

  .country {
    width: calc(100%/6);
    height: 100%;
  }

  .country .caption {
    color: #000;
    background: #fff;
  }

  .country .caption h2 {
    font-size: 1.1rem
  }
}

@media (min-width: 1140px) {
  .country .caption h2 {
    font-size: 1.4rem
  }

  .modal-country--content {
    width: 50%;
  }
}

@media (min-width: 1410px) {
  .country .caption h2 {
    font-size: 2rem
  }

  .modal-country--content {
    width: 50%;
  }
}