/*Fonts*/
@font-face {
  font-family: 'trueno-lt';
  src:  url('../fonts/truenoLT/TruenoLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/truenoLT/TruenoLt.otf')  format('opentype'),
        url('../fonts/truenoLT/TruenoLt.woff') format('woff'),
        url('../fonts/truenoLT/TruenoLt.ttf')  format('truetype'),
        url('../fonts/truenoLT/TruenoLt.svg#TruenoLt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trueno-bd';
  src:  url('../fonts/trueno/TruenoBd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trueno/TruenoBd.otf')  format('opentype'),
        url('../fonts/trueno/TruenoBd.woff') format('woff'),
        url('../fonts/trueno/TruenoBd.ttf')  format('truetype'),
        url('../fonts/trueno/TruenoBd.svg#TruenoBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trueno-regular';
  src:  url('../fonts/trueno-regular/TruenoRg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trueno-regular/TruenoRg.otf')  format('opentype'),
        url('../fonts/trueno-regular/TruenoRg.woff') format('woff'),
        url('../fonts/trueno-regular/TruenoRg.ttf')  format('truetype'),
        url('../fonts/trueno-regular/TruenoRg.svg#TruenoBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans-bold';
  src:  url('../fonts/opensans-bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/opensans-bold/OpenSans-Bold.otf')  format('opentype'), */
        url('../fonts/opensans-bold/OpenSans-Bold.woff') format('woff'),
        url('../fonts/opensans-bold/OpenSans-Bold.ttf')  format('truetype'),
        url('../fonts/opensans-bold/OpenSans-Bold.svg#TruenoBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open-sans';
  src:  url('../fonts/opensans/OpenSans.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/opensans/OpenSans.otf')  format('opentype'), */
        url('../fonts/opensans/OpenSans.woff') format('woff'),
        url('../fonts/opensans/OpenSans.ttf')  format('truetype'),
        url('../fonts/opensans/OpenSans.svg#TruenoBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*End fonts*/

body,
html {
  height: 100%;
}

body{
  font-family: 'trueno-lt';
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,.6)!important;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 9;
  height: 113px;
}
 img, video {
  max-width: 100%;
  height: auto;
 }

/*Slide*/
.slides-navigation{
  z-index: 5;
}

.slides-navigation a.next{
  right: 10px;
}

.slides-navigation a.prev{
  left: 10px;
}

.slides-pagination {
  bottom: 10%;
}

.slides-pagination a {
  border: 2px solid #fff;
  background-color: #fff;
}

.slides-pagination a.current {
  border: 2px solid #ffdb04;
  background-color: #ffdb04;
}

.slides-caption {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 5%;
  background-color: rgba(0,0,0, 0.5);
  color: #fff;
  padding: 15px 25px 5px 25px;
}

.slides-caption h2 {
  margin-bottom: 1rem;
}

.slides-caption h2 > span {
  position: relative;
}

.slides-caption h2 > span:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ffdb04;
  width: 100%;
  left: 0;
}

.slides-caption h5 > span {
  color: #ffdb04;
}

.slides-caption p > span {
  color: #ffdb04;
}

.white-spiral, .yellow-spiral, .but-option{
  position: absolute;
  z-index: 3;
  display: none;
}

.but-option {
  bottom: 0%;
  right: 0;
}

.but-option a{
  color: #fff;
  font-size: 0.80rem;
}

.white-spiral {
  bottom: 0%;
  left: 0;
}

.yellow-spiral {
  top: 0;
  right: 0;
}

/*Navigation*/

.navigation-menu-fired {
  float: right;
}

.main-navigation {
  position: relative;
  display: none;
}

.main-navigation li:not(:last-child) {
  border-right: 1px solid #fff;
}

.main-navigation li a{
  color: #fff;
}

.main-navigation .nav-link {
  padding: 0.1em 1em
}

.main-navigation:hover .navigation-buttons {
  visibility: visible;
  opacity: 1;
}

.navigation-buttons {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 40px;
}

.navigation-buttons li:not(:last-child) {
  border-right: 0
}

.navigation-buttons .nav-link {
  padding: 0
}

.navigation-buttons .nav-link img {
  opacity: 0.9
}

.navigation-buttons .nav-link img:hover {
  opacity: 1
}

/*Social media*/
.social-media .nav-link {
  padding: 0 5px
}
/*End social media*/

.box-purple {
  font-family: sans-serif;
  background-color: #5F4796;
  padding: 25px 20px;
  color: #fff;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 33.3333%;
  margin-bottom: -3px;
  overflow: hidden;
}

.grid-item--width4 {
  width: 25%;
  height: 337px;
}

/* 2 columns */
.grid-item--width2 { width: 40%; }

main {
  padding-top: 113px;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

.view-more-button {
  background-color: #2A2A2A;
  color: #fff;
  border-radius: 0;
  padding: 4px 0 0;
}

.btl-page, .medios-page {
  position: relative;
}

.spiral-btl {
  pointer-events: none;
  position: absolute;
  top: 110px;
  left: 0;
}

.spiral-medios {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Nosotros */
.about-us-page {
  position: relative;
}

.main-about-us:after,
.main-about-us:before {
  display: none
}

.main-about-us:after {
  content: '';
  position: absolute;
  top: 25%;
  right: 0;
  background-image: url('../img/nosotros-espiral-d.png');
  background-size: cover;
  min-width: 203px;
  min-height: 727px;
  z-index: 7;
}

.main-about-us:before {
  content: '';
  position: absolute;
  top: 48%;
  left: 0;
  background-image: url('../img/nosotros-espiral-l.png');
  background-size: contain;
  min-width: 224px;
  min-height: 509px;
  z-index: 7;
}

.main-about-us {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.black-box {
  background-color: #000000;
}

/* .nosotros-logo {
  min-height: 580px;
} */

.slide-nosotros {
  overflow: hidden;
}

/* .slide-nosotros:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 204, 52, 0.75);
} */

.nosotros-text {
  background-color: #6a30b6;
  color: #fff;
  font-family: 'open-sans';
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding: 41px 0; */
}

.nosotros-text h2 {
  font-family: 'trueno-regular';
  margin-bottom: 15px;
  position: relative;
}

.nosotros-text h2 span {
  position: relative;
  background-color: #6a30b6;
  padding: 0 10px;
  z-index: 5;
}

.nosotros-text h2:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #ffcc34;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.nuestros-pilares {
  background-color: #ffcc34;
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #5d5d5d;
  font-family: 'open-sans';
}

.nuestros-pilares span {
  font-family: 'trueno-regular';
  border-bottom: 4px solid #6a30b6;
  padding-left: 15px;
  padding-right: 15px;
}

.nuestros-pilares--title {
  margin-bottom: 30px;
}

.nuestros-pilares img + h5 {
  margin-top: 15px;
  font-family: 'trueno-regular';
}

/* End nosotros */

/* .video-modal
  .modal-header {
    border-bottom: 0;
    padding: 0;
    position: relative;
  }

  .close {
    position: absolute;
    right: -15px;
    top: -10px;
    opacity: 1;
    color: #fff;
    font-size: 2.3rem;
    font-weight: normal;
  }

  .close:hover {
    color: #fff;
  }

  /* .modal-content{
    background-color: transparent;
  } */

  video {
    border: 2px solid #fff;
    width: 100%;
  } */

/* Customers */
.customers-list .row div:nth-child(1) { background: #5F4797; }
.customers-list .row div:nth-child(2) { background: #474D9C; }
.customers-list .row div:nth-child(3) { background: #D5DD48; }
.customers-list .row div:nth-child(4) { background: #5F4797; }
.customers-list .row div:nth-child(5) { background: #B5234D; }
.customers-list .row div:nth-child(6) { background: #E6A642; }
.customers-list .row div:nth-child(7) { background: #9FC54C; }
.customers-list .row div:last-child { background: #B5234D; }

.bg-purple{
  background: #5F4797;
}

.social-box {
  position:  relative;
  background-color: #474D8F;
}

 .social-box_yellow {
   background-color: #F1CA46;
 }

.social-box > div {
  padding-top: 20px;
  padding-top: 20px
}

.social-box img {
  margin-bottom: 25px;
}

.footer-index {
  position: fixed;
  bottom: 0;
  width: 11%;
}

footer {
  background: rgba(0,0,0,.6)!important;
  color: #fff;
  z-index: 99;
  text-align: center;
  padding-top: 5px;  
}

footer address {
  margin-bottom: 0.5rem;
}

footer p {
  font-size: 9px;
  text-align: center;
}

footer a {
  color: #fff;
}

/***** Media queries *****/
@media (min-width: 480px) {
  .social-media {
    float: right;
  }
}

@media (min-width: 575px) {
  .social-box > div {
    position: absolute;
    top: 50%;
    transform:translate(0%, -50%);
    left: 0;
    right: 0;
  }
}

@media (min-width: 768px) {
  .nosotros-text {
    padding: 41px 0;
  }
}

@media only screen and (min-width: 960px) {
  .white-spiral, .yellow-spiral {
    display: block;
  }

  .navigation-container {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .main-navigation,
  .main-about-us:after,
  .main-about-us:before  {
    display: block;
  }

  .navigation-menu-fired {
    display: none;
  }
}
